body {
  font-family: "Inter", sans-serif;
  background-color: #000;
}
/* ================== */
/* navbar */
/* ================== */

/* Tombol Daftar */
.navbar .btn-register {
  background-color: #ff66c4;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
}

.navbar .btn-register:hover {
  background-color: #e055b1;
}

/* Tombol Masuk */
.navbar .btn-signin {
  background-color: #38b6ff;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
}

.navbar .btn-signin:hover {
  background-color: #249ee3;
}

.navbar .btn-register.shadow-lg,
.navbar .btn-signin.shadow-lg {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Garis pemisah pada menu */
.garis {
  border-top: 1px solid black;
}

/* Styling nav list */
.nav-pills .nav-link {
  color: black;
  font-weight: 200;
  font-size: 15px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

.nav-pills .nav-link:hover {
  color: #ff66c4;
}

.nav-pills .nav-link.active {
  color: #ff66c4;
}

.nav-pills {
  margin-bottom: 0;
}

.nav-pills .nav-item {
  margin-right: 12px;
}

/* Styling untuk search bar */
.navbar .form-control {
  border: 1px solid black;
}

/* ================== */
/* navbar end */
/* ================== */

/* Responsif untuk tampilan di mobile */
@media (max-width: 768px) {
  /* Memposisikan Search Bar di tengah */
  .navbar .col-12.col-lg-4.d-flex {
    justify-content: center;
    margin-bottom: 10px;
  }

  /* Memposisikan logo di pojok kiri */
  .navbar .navbar-brand {
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
  }

  /* Mengatur tombol di pojok kanan */
  .navbar .col-12.col-lg-4.d-flex:last-child {
    display: flex;
    justify-content: flex-end;
  }

  /* Menjaga jarak antara tombol dan logo */
  .navbar .btn-register,
  .navbar .btn-signin {
    font-size: 12px;
    padding: 6px 12px;
  }

  .nav-pills {
    flex-direction: column;
    gap: 10px;
  }

  .nav-pills .nav-item {
    text-align: center;
    width: 100%;
  }
}

/* Untuk tampilan Desktop */
@media (min-width: 769px) {
  /* Memposisikan search bar di tengah */
  .navbar .col-12.col-lg-4.d-flex {
    justify-content: center;
  }

  .navbar-brand {
    padding-left: 0;
    margin-left: 0;
  }

  /* Memposisikan logo di pojok kiri */
  .navbar .navbar-brand {
    text-align: left;
    margin-top: 20px;
  }

  /* Mengatur tombol di pojok kanan */
  .navbar .col-12.col-lg-4.d-flex:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
